<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/codeMail.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>
            {{title}}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <body>
            <div class = "header">
                <a href="/"><img id=Logo src="/image/Logo3.png"></a>
            </div>
            <div class="Top_menu">
                <div id="Top_menu">
                    <a href="/"><span>HOME</span></a>
                    <a href="/community"><span>COMMUNITY</span></a>
                    <span>CHAT</span>
                    <a href="/code/"><span>CODE</span></a>
                    <a href="/mypage"><span>MYPAGE</span></a>
                </div>
            </div>

<div class="write-title">
    Send Code
</div>

<div>
    <div class="friendList-index">
        <div id="check-btn">
            <span class="material-symbols-outlined">mail</span>
            <span id="tooltip-mail">메일</span>
        </div>
        <div id="favorite-btn">
            <span class="material-symbols-outlined">star</span>
            <span id="tooltip-favorite">즐겨찾기</span>
        </div>
    </div>

    <div class="friendList">
        <div class="mailBox">
            <div id="recentMailUser">최근 내가 메일을 보낸 사람</div>
            <div id="recentSend">
            {% for recent in recentSend %}
                <div class="">
                    {{ recent.nick }}
                </div>
            {% endfor %}
            </div>

            <div id="recentMailUser2">최근 내게 메일을 보낸 사람</div>
            <div id="recentSend2" >
            {% for reception in recentReception %}
                <div>
                    {{ reception.nick }}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="favoriteBox">
            <div id="favoriteMailUser">즐겨찾기 목록</div>
            <div id="favoriteIndex">
                
                    {% for favorite in favorites %}
                    <form action="/code/mail/favoriteDelete" method="post">
                        <div class="favoriteNickAndDelete">
                            <input name="codeid" value="{{code.id}}" hidden>
         
                            <input id= "favoritedNick" name="favoritedNick" value="{{ favorite.nick }}" readonly style="resize: none;"></input>
                            <input type="submit" id="favoritedDelete" value="삭제" onclick="if(!confirm('{{favorite.nick}} 님을 즐겨찾기에서 삭제하십니까?')){return false;}"></input>
                        </div>
                    </form>
                    {% endfor %}
            </div>
        </div>

    </div>
    <form id="twit-form" action="/code/C/send/{{code.id}}" method="post" >
        <div class="mail-input-group">
            
            <div class="receiver">
                받는사람
            </div>
            <textarea id="receiver" name="receiver" maxlength="100" ></textarea>
        </div>
        <div class="mail-input-group">
            <textarea id="mail-title" name="title" maxlength="100" placeholder="제목을 입력하세요."></textarea>
        </div>
        <div class="mail-input-group">
            <input id="mail-code"  name="code" disabled value="{{code.codetitle}}">
        </div>
        <div class="mail-input-group">
            <textarea id="writecontent" name="content" maxlength="500" placeholder="내용을 입력하세요."></textarea>
        </div>
        <div>
            <button id="write-btn" type="submit" class="btn" onclick="if(!confirm('메일을 보내겠습니다.')){return false;}">전송</button>
        </div>
    </form>
  </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/script/data.js"></script>
    </body>
    <script>
        $(function () {	//화면 로딩후 시작
            $("#receiver").autocomplete({  //오토 컴플릿트 시작
                type: 'get',
                source: '/code/json',
                dataType : 'json',
                focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌   
                    return false;
                },
                minLength: 1,// 최소 글자수
                delay: 100,   //autocomplete 딜레이 시간(ms)
            });
        });

        $('#check-btn').click(function() {
            $('.favoriteBox').hide();
            $('.mailBox').fadeIn();
        })
        $('#favorite-btn').click(function() {
            $('.mailBox').hide();
            $('.favoriteBox').fadeIn();
        })

    </script>
</html>


