<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <style>
            .material-symbols-outlined {
              font-variation-settings:
              'FILL' 0,
              'wght' 200,
              'GRAD' 0,
              'opsz' 24
            }
            </style>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/styleC.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>
            {{title}}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class = "header">
            <a href="/"><img id=Logo src="/image/Logo3.png"></a>
        </div>
        <div class="Top_menu">
            <div id="Top_menu">
                <a href="/"><span>HOME</span></a>
                <a href="/community"><span>COMMUNITY</span></a>
                <span>CHAT</span>
                <a href="/code/"><span>CODE</span></a>
                <a href="/mypage"><span>MYPAGE</span></a>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
    
    

</html>
