{% extends 'code.html' %}

{% block content %}

        
            
            <div class="left-side">
                {% if user and user.id %}
                {% for twit in twits %}
                {% if twit.UserId == user.id %}
                <div id="codeindex">
                    <a href="/code/C/{{twit.id}}">{{twit.codetitle}}
                    </a>
                    <form id="code-delete" action="/code/C/delete/{{twit.id}}">
                        <button type="submit">X</button>
                    </form>
                    
                    <span class="material-symbols-outlined">
                        <a href ="/code/C/mail/{{twit.id}}">
                        share
                        </a>
                    </span>

                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <div>로그인시 저장 기능을 이용할 수 있습니다.</div>
                {% endif %}
            </div>
            
            <div class="center">
                <div class="Tag">
                    <button id="TagC">C</button>
                    <a href="/code/CompileCpp"><button id="TagCpp">Cpp</button></a>
                </div>

                
                <form id="Save-Form" action="/code/C" method="post" enctype="multipart/form-data">
                    {% if user and user.id %}
                    <textarea id="codetitle" name="codetitle" maxlength="40" placeholder="제목을 입력하세요.">{{read.codetitle}}</textarea>

                    <button id="code-btn" name="codebtn" type="submit">저장</button>  
                    {% endif %}
                    <div class = "Box">
                        
                    <div class="CodeBox">
                        <h1 id = "titleCode">Code</h1>
                        <textarea id="code" name="code" is="highlighted-code" >{{read.code}}</textarea>
                    </div>
                        
                    <div class ="ConsoleBox">
                        <h1 id = "titleConsole">Console</h1>
                        <textarea id="output" type="text" name="output"></textarea>
                    </div>
                </form>   
                </div>
            </div>
        <div class="right-side">
                <button class="ajaxsend" id="ajax_post">실행</button>
                {% if user and user.id %}
                <a href="/write"><button class="codewrite" id="codewrite">업로드</button></a>
                <span class="material-symbols-outlined">
                    <a href="/code/receiveCode">local_post_office</a>
                    </span>
                {% endif %}
                <div>
                    {{countmail}}
                </div>
        </div>
 
{% endblock %}   
        
{% block script %}
        <!-- Script -->
        
        <script>
             
            // syntax highlighter
            (async ({chrome}) => {
                  const {default: HighlightedCode} =
                    await import('https://unpkg.com/highlighted-code');
                  HighlightedCode.useTheme('nord');
              })(self);

            // Ajax Post -> 컴파일
           document.querySelector('.ajaxsend').addEventListener('click', function(){
            sendAjax('/code/code_receive', code.value);
           })
           function sendAjax(url, data) {
            var data = {'code' : data};
            data = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(data);

            xhr.addEventListener('load', function() {
                var result = JSON.parse(xhr.responseText);
                if(result.result != 'ok') return;
                document.getElementById('output').value = result.output;
            });
           }
           
           // Ajax Post -> 게시판
           $(function() {
            $('#codewrite').click(function(){
                var text = document.getElementById("code");
                localStorage.setItem("code", text.value);
            })
           })
        </script>
{% endblock %}

