{% extends 'code.html' %}

{% block content %}
<div>
    <form id="twit-form" action="/post/edit/{{read.id}}" method="post" enctype="multipart/form-data">
        <div class="write-input-group">
            <textarea id="write-title" name="title" maxlength="100">{{read.title}}</textarea>
        </div>
        <div class="write-input-group">
            <textarea id="writecontent" name="content" maxlength="500">{{read.content}}</textarea>
        </div>
        <div>
            <button id="write-btn" type="submit" class="btn">수정</button>
        </div>
    </form>
  </div>

{% endblock %}