<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" href="/style/error.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
</head>
<body>
  <div class="container">
    <h1 class="neonText">
      404
    </h1>
    <h2 class="neonText2">Sorry Page Not Found</h2>
    <h2 class="neonText2"><a href="/">Home</a></h2>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
  </div>
</body>
</html>

