{% extends 'MyPage.html' %}

{% block content %}
<div class="info">
    <div id="info-title">내정보 변경</div>

    <form id="join-form" action="/info/update" method="post">
    <div class="input-group">
        <div class="info-edit-input">
            <div id="info-edit-label"><label for="edit-nick">닉네임&emsp;</label></div>
            <input id="info-input" name="nick"value="{{nickname}}">
            <div id="info-edit-label"><label for="edit-password">비밀번호&emsp;</label></div>
            <input id="info-input" type="password" name="password">
            <div id="info-edit-label"><label for="edit-passwordcheck">비밀번호확인&emsp;</label></div>
            <input id="info-input" type="password" name="passwordcheck">
        </div>
        <button id="info-edit-btn" type="submit" onclick="if(!confirm('변경된 정보로 저장하시겠습니까?')){return false;}"> 변경 </button>
        <div id = "Infoediterror">{{error}}</div>
    </div>
</form>
    
</div>
{% endblock %}