{% extends 'Mypage.html' %}

{% block content %}
<div class="info">
    <div id="info-title">비밀번호 확인</div>

    <form id="join-form" action="/info/edit" method="post">
        <div class="input-group">
            <div class="info-password-input">
                <input id="info-password-inputcode" type="password" name="code" placeholder="비밀번호를 입력하세요.">
                <button id="info-password-btn" type="submit"> 확인 </button>
            </div>
            <div id = "info-password-error">{{error}}</div>
        </div>
    </form>
    
</div>
{% endblock %}