{% extends 'code.html' %}

{% block content %}
    <div>
        <div class="community">
            내가 쓴 글
        </div>
        <form class="community-search" action="/community/search/">
            <input id="community-searchBar" type="text" name="word" placeholder="검색어를 입력하세요.">
            <input id="community-searchBtn" type="submit" class="search-button" value="검색">
        </form>

        <table class="community-table">
            <colgroup>
                <col style="width: 7%">
                <col>
                <col style="width: 7%">
                <col style="width: 7%">
                <col style="width: 18%">
                <col style="width: 15%">
            </colgroup>
            <thead class="community-thead">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>댓글수</th>
                    <th>추천수</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody class="community-tbody">

                {% for twit in twits %}
                <tr>               
                    <td id="community-twit-id">{{twit.id}}</td>
                    <td id="community-twit-title"><a href="/community/{{twit.id}}">{{twit.title}}</a></td>
                    <td id="community-twit-id">{{twit.commentCount}} </td>
                    <td id="community-twit-id">{{twit.Recommend}} </td>
                    <td id="community-twit-nick">{{twit.User.nick}}</td>
                    <td id="community-twit-createdAt">{{twit.created}}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="community-page-class-wrap">
            {% for i in maxPage %}        
                <a href="/community?page={{i}}" id="community-page">{{i}}</a>
            {% endfor %}
        </div>
        
    </div>

{% endblock %}





