{% extends 'Main.html' %}
{% block content %}
<body>
<div class="join-title"><h1>비밀번호 재설정</h1></div>
<form id="join-form" action="/password/edit" method="post">
    <div class="input-group">
        <label id="password-label" for="passwordedit-password">새 비밀번호&emsp;</label>
        <div class="input-password">
            <input id="joinCode" type="hidden" value="{{userMail}}" name="mail">
            <input id="passwordedit-password"  type="password" name="password" placeholder="새 비밀번호를 입력해주세요.">
        </div>

        <label id="repassword-label" for="passwordedit-repassword">새 비밀번호확인&emsp;</label>
        <div class="input-repassword">
            <input id="passwordedit-repassword" type="password" name="repassword" placeholder="새 비밀번호를 입력해주세요.">
            <div id="passwordedit-check">{{check}}</div>
        </div>
        <div class="passwordedit-btn">
            <div id="passwordedit-null">{{Null}}</div>
            <div id="passwordedit-passwordalert">비밀번호는 8자리 이상 입력해주세요.</div>
            <button id="passwordedit-btn" type="submit" onclick="if(!confirm('새로운 비밀번호로 변경합니다.')){return false;}"> 변경 </button>
        </div>
    </div>
</form>

{% endblock %}


