{% extends 'Main.html' %}
{% block content %}
<body>
    <div class="mail-title"><h1>비밀번호 찾기</h1></div>
    <form id="join-form" action="/password/mail" method="post">
        <div class="input-group">
            <div id="mail-input">
                <label for="mail-inputmail" id="mail-index">이메일</label>
                <input id="mail-inputmail" type="email" name="email" placeholder="이메일을 입력해주세요.">
                <button id="mail-btn" type="submit"> 전송 </button>
            </div>
        </div>
    </form>
</form>

{% endblock %}